<.form :let={f} for={@changeset} action={@action}>
  <.input field={f[:email]} type="text" label="Email" />
  <.input field={f[:password_hash]} type="text" label="Password hash" />
  <footer>
    <.button variant="primary">Save User</.button>
    <.button :if={@return_to} href={@return_to}>Cancel</.button>
  </footer>
</.form>
